
main{
    background-color: rgb(20, 19, 19);
    color: rgb(255, 255, 255);
   
}

.custom-card {
    border-radius: 30px;
    background-color: rgb(32, 30, 26);
}

.review-text {
    border-radius: 0px 20px 20px 20px;
    font-family: "Nunito", sans-serif;
    background-color: #8b6d13b1;
    color: rgb(234, 237, 239);

    /* min-width: 90%; */
}

 #image{
        width: 100%;
        padding: 30px;
    }

#title{
    display: flex;
    flex-direction: column;
}

#reviews {
    color: rgb(246, 199, 71);
    font-family: Fredoka, sans-serif;
}

.review-card-author-name{
    font-size: 13px;

    padding: 6px;
}

.bolder{
    font-weight: 700;
}


@media screen and (max-width: 1000px) {
    .review-card-author-name{
        font-size: 12px;
    }
    .card-text-detail-text{
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
   
    
}