:root{
    --main-color: #973136f4;
    font-family: Raleway;
}

body {
    font-family: Raleway, sans-serif;
}

body {
    background-color: rgba(21, 20, 20, 0.985);
    height: auto !important;
    min-height: 100vh;
}

form {
    font-family: Nunito, sans-serif;
 
}

a{
    text-decoration: none;
    color: rgb(220, 68, 98);
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

a:hover {
    color: rgb(237, 179, 54);
  
}


.form-control {
    height: 50px;
    background-color: #373737f3; /* Change background color to white */
    border-color: #221e1e; /* Change border color to black */
    color: #ded8d8;
}
.form-control::placeholder {
    color: #e9e9e9; /* Change color of the placeholder text */
}

.form-control:focus {
    background-color: #232121db; /* Change background color to white */
    border-color: #221e1e; /* Change border color to black */
    color: #ded8d8;
}
.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #373737f3 inset !important; /* Adjust background color */
    -webkit-text-fill-color: #ded8d8 !important; /* Adjust text color */
}
.search-section{
    padding: 16px;
    background-color:#39333362;
    border-radius: 50px;
    margin-top: 30px;
}

.img-fluid{
    border-radius: 300px;

}

.result-card:hover{
    transform: translateY(-10px);
    transition: .3s;
}

.card-image{
    height: 10%;
}

.card-content{
    color: #f0eeee;
    
}
.card-title{
    font-size: 17px;
}

.navbar{
    background-color:var(--main-color);

}

#image{
    border-radius: 60px;
}

.navbar-brand{
    font-size: 30px;
    color: #ffffff;
    font-family: Syne, sans-serif;
    font-weight: 600;
    
}
.result-display {
    margin: 12px;
    border-radius: 20px;
   
}

.result-card{
    background-color: rgba(35, 36, 36, 0.979);
    color: #cbc0c0;
    padding: 3px;
    min-height: 190px;
    max-height: 190px;
    box-shadow: 7px 10px 10px rgba(34, 31, 31, 0.398); /* Update box shadow values */

}


.card-image{
    width: 180px;
    height: 180px;
    margin-bottom: auto;
}



.col-md-8{
    padding: 3px;
}

.navbar-brand:hover{
    font-size: 32px;
    transition: .5s;
    color: rgb(237, 237, 237);
}


#header {
    background-color: var(--main-color);
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
}



#application {
    margin: auto;
    max-width: 1200px;
}


#application input {
    padding: 13px;
    width: 443px;
}

#reviews {
   
    font-family: Fredoka, sans-serif;
}

.dropdown-item{
    text-decoration: none;
    color: #383636;
    font-style: "Nunito Sans";

}


.save-reminder{
    font-size: 17px;
}

.icon-need-fix{
    margin-top: 18px;
    color: rgb(246, 199, 71);
}



.title{
    font-family: Poppins, sans-serif;
    border-radius: 4px;
}


#button-search, #dropdownButton{
   width: 100%;
}

@media screen and (min-width: 769px) {
    form {
        display: flex;
        flex-direction: row;
    }

    .search-section {
        flex-direction: row;
    }
    #button-search{

   border-bottom-right-radius: 30px;
   border-top-right-radius: 30px;
}

#dropdownButton{
   
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
   
}
}

@media screen and (max-width: 765px) {
    .result-card{
        margin-bottom: 220px;
        background-color: rgb(28, 23, 23);
    }
    
}