:root{
    --main-color: #c3404bfb;
}

* {
    font-family: lato;
}

body {
    background-color: rgba(0, 0, 0, 0.906);
    height: auto !important;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

li {
    color: rgb(80, 71, 71);
    list-style: none;
}

a:hover {
    color: rgb(139, 194, 228);
}





.navbar{
    background-color:var(--main-color);
}

.navbar-brand{
    font-size: 25px;
    margin: auto;
    color: #ffffff;
}
.result-display {
    margin: 12px;
    border-radius: 20px;
   
}

.result-card{
    background-color: rgba(51, 56, 56, 0.578);
    color: #ffffff;
}



.card:hover {
    box-shadow: 4px 8px 30px rgb(30, 29, 29);

}



.navbar-brand:hover{
    font-size: 27px;
    transition: .5s;
    color: rgb(237, 237, 237);
}
.logo {
    height: 100%;
    width: 30%;
}

#header {
    background-color: var(--main-color);
    border-radius: 20px;
    margin: auto;
    margin-top: 50px;
}

#welcome-photo {
    border-radius: 20px;
    box-shadow: 4px 8px 30px rgb(30, 29, 29);
    max-width: 100%;
   
}

#application {
    margin: auto;
    max-width: 1200px;
}

#application .column {
    background-color: var(--main-color);
    border-radius: 20px;
    max-width: 570px;
    margin: auto;
    height: 90px;
    padding-top: 23px;
}

#application input {
    padding: 13px;
    width: 443px;
}


@media screen and (min-width: 769px) {
    form {
        display: flex;
        flex-direction: row;
    }

    .search-section {
        flex-direction: row;
    }
}